OCI_CONFIG_PROFILE=DEFAULT
OCI_TENANCY_ID=<TENANCY_OCID>
OCI_COMPARTMENT_ID=<COMPARTMENT_OCID>
OCI_REGION=<REGION>
OCI_PRIVATE_SUBNET_ID=<PRIVATE_SUBNET_OCID>
OCI_LOAD_BALANCER_SUBNET_ID=<LOAD_BALANCER_SUBNET_OCID>

SELF_HEALING_EXISTING_INSTANCE_POOL_ID=<INSTANCE_POOL_OCID>
SELF_HEALING_EXISTING_LOAD_BALANCER_ID=<LOAD_BALANCER_OCID>
SELF_HEALING_EXISTING_BACKEND_SET_NAME=<BACKEND_SET_NAME>
SELF_HEALING_OPERATIONS_EMAIL=<OPERATIONS_EMAIL>
SELF_HEALING_FUNCTION_MODE=observe
